# services:
#   fossflow:
#     image: stnsmith/fossflow:latest
#     pull_policy: always
#     ports:
#       - 80:80
#     environment:
#       - NODE_ENV=production
#       - ENABLE_SERVER_STORAGE=${ENABLE_SERVER_STORAGE:-true}
#       - STORAGE_PATH=/data/diagrams
#       - ENABLE_GIT_BACKUP=${ENABLE_GIT_BACKUP:-false}
#     volumes:
#       - ./diagrams:/data/diagrams

# services:
#   backend:
#     build: ./packages/fossflow-backend
#     container_name: arca-backend
#     ports:
#       - "3001:3001"
#     environment:
#       NODE_ENV: production
#     restart: unless-stopped

#   frontend:
#     build: ./packages/fossflow-app
#     container_name: arca-frontend
#     ports:
#       - "8080:80"
#     depends_on:
#       - backend
#     restart: unless-stopped

services:
  fossflow:
    build: .
    ports:
      - "80:80"
      - "3001:3001"
    extra_hosts:
    - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=production
      - ENABLE_SERVER_STORAGE=${ENABLE_SERVER_STORAGE:-true}
      - STORAGE_PATH=/data/diagrams
      - ENABLE_GIT_BACKUP=${ENABLE_GIT_BACKUP:-false}
      - JWT_SECRET= supersecretkey
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
    volumes:
      - ./diagrams:/data/diagrams